{
  "root": true,

  "parser": "babel-eslint",

  "env": {
    "browser": false,
    "node": true
  },

  "extends": "standard",

  "rules": {
    "arrow-parens": 0,
    "generator-star-spacing": 0,
    "no-useless-escape": 0
  }
}
