############################
# package manager
############################
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency diretories
node_modules/

# Other node stuff
.node_history

############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
.DS_STORE
*#
*~
.idea
nbproject

############################
# tests
############################
test/coverage/
packages/*/test/coverage/

############################
# Project
############################
dist/
lib/
